@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}
:root{
    --text: #150f0a;
    --background: #fbf8f4;
    --primary: #c88948;
    --secondary: #e5bb8f;
    --accent: #e4a460;
    --line: #ccc;
    --text-highlight: #5D5D5D;
    --highlight: #c5c5c5;
    --white: #fff;
}

.container{
    width: 100%;
    height: auto;
    /* min-height: 1440px; */
}
header{
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--background);
    z-index: 1000; /* Ensure that the header is on top of everything else avoiding overlapping */
    border-bottom: 1px solid var(--line); /* Optional */
}

header a img{
    width: 90px;
    height: auto;
    cursor: pointer;
}

header nav ul li, a{
    font-size: 16px;
    font-weight: 500;
}

header nav ul li{
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
}

header nav ul li a:hover{
    color: var(--accent);
}

header nav ul li a.active{
    color: var(--accent);
}

header .header-content{
    display: flex;
}

header .header-content .search-bar input{
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 15px;
    margin-right: 20px;
    width: 220px;
    outline: none;
}

header .header-content .search-bar button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 20px;
    cursor: pointer;
}

header .header-content .auth button{
    width: 150px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--primary);
    transition: all 0.5s ease 0s; /* Some transition effect on button */
    cursor: pointer;
}

header .header-content .auth button:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--background);
}

header .user-profile{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

header .user-profile a{
    margin-right: 25px; /* Add space between notification and profile picture */
}

header .user-profile a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .sub-menu-wrap{
    position: absolute;
    margin-top: 0;
    top: 100%;
    right: 9%;
    width: 250px;
    max-height: 0; /*Set the height of the dropdown menu to 0 by default to hide it*/
    overflow: hidden;
    transition: max-height 0.5s;
}

header .sub-menu-wrap.open-menu{
    max-height: 450px; /*Set this to 400px to open up/show the dropdown menu through js */
}


.sub-menu-wrap .sub-menu{
    background-color:var(--white);
    padding:20px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 20px;
}
.sub-menu-wrap .sub-menu .user-info{
    display:flex;
    align-items: center;
}
.sub-menu-wrap .sub-menu .user-info a{
    margin-right: 15px;
}
.sub-menu-wrap .sub-menu .user-info h3{
    font-weight: 500;
    font-size: 16px;
}

.sub-menu-wrap .sub-menu hr{
    border: 0;
    height: 1px;
    margin: 10px;
    width: 100%;
    background-color: var(--line);
    margin: 15px 0 10px;
}

.sub-menu-wrap .sub-menu a {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.sub-menu-wrap .sub-menu a:hover{
    color: var(--accent);
}

.sub-menu-wrap .sub-menu a p{
    width: 100%;
}
.sub-menu-wrap .sub-menu a:hover p{
    color: var(--secondary);
}
.sub-menu-wrap .sub-menu a i {
    margin-right: 10px;
    text-align: center;
    width: 24px; /* Adjust the width of the icon container */
}

.sub-menu-wrap .sub-menu a span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-wrap .sub-menu a:hover span {
    transform: translateX(5px);
}

/* Welcome page */
.welcome-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 12.8%;
}
.welcome-wrap .first-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
    background-color: var(--highlight);
    overflow-y: hidden; /* Enable vertical scrolling if content overflows */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    width: 100vw;
    height: 80vh;
}

/* Left Side (Website Context) */
.welcome-wrap .first-section .web-context {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 50%;
    height: 100%; /* Take up full height of the first section */
    position: absolute;
    left: 0;
    padding: 0 20px; /* Add padding for spacing */
}

.welcome-wrap .first-section .web-context .context {
    /* background-color: var(--secondary); */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.welcome-wrap .first-section .web-context .context .text p {
    font-size: 16px;
}

.welcome-wrap .first-section .web-context .context .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add margin between text and buttons */
}

.welcome-wrap .first-section .web-context .context .nav-btn a {
    /* display: inline-block; */
    margin-right: 10px; /* Add margin between buttons */
}

.welcome-wrap .first-section .web-context .context .nav-btn a button {
    font-size: 14px;
    cursor: pointer;
    color: var(--text);
    background-color: var(--accent);
    width: 170px; /* Adjust button width as needed */
    height: 50px; /* Adjust button height as needed */
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.welcome-wrap .first-section .web-context .context .nav-btn a button:hover{
    transform: translateY(-5px); /* Lift up the button by 2px */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a slight shadow */
    color: var(--background);
}

.welcome-wrap .first-section .img {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.welcome-wrap .first-section .img img {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    height: auto;
    display: block;
}



/* Auth-Form */
.container-content .first-section {
    position: relative;
    display: flex;
    width: 100vw; /* Use viewport width for full screen width */
    height: 90vh; /* Use viewport height for full screen height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: var(--background);
}

.container-content .first-section .img {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 50%;
    height: 100%; /* Take up full height of the first section */
    overflow: hidden; /* Hide overflow to prevent scrolling */
    position: absolute;
    left: 0;
    top: 12.8%;
    /* background-color: #ccc; */
    border: 1px solid transparent;
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 10px 10px;
    padding-bottom: 25px;
    border-radius: 50px;
}

.container-content .first-section .img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    /* border: 2px dashed #000; Adjust border width and color as needed */
    /* margin-left: 45px;
    margin-bottom: 25px; */
    /* background-color: #c9b2ab; */
}



.container-content .first-section .auth-form {
    position: absolute;
    right: 0;
    top: 12.8%;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%; /* Take up full height of the first section */
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;
    /* margin-top: 5%; */
    margin: 0 auto;
    text-align: center; /* Center-align the content within the div */
}

.container-content .first-section .auth-form h4{
    width: 100%;
    font-size: 20px;
}

.container-content .first-section .auth-form input {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 50px;
    margin: 25px auto; /* Auto margins to center horizontally */
    padding: 25px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

.container-content .first-section .auth-form button{
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    color: var(--text);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s; /* Add transitions for transform and box-shadow */
}

.container-content .first-section .auth-form button:hover {
    transform: translateY(-5px); /* Lift up the button by 2px */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a slight shadow */
    color: var(--background);
}

.container-content .first-section .auth-form p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.container-content .first-section .auth-form .social-icons{
    margin: 20px 0;
}

.container-content .first-section .auth-form .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary);
    border-radius: 20%;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    color: #000;
    text-decoration: none;
}
.container-content .first-section .auth-form .social-icons a:hover{
    background-color: var(--accent);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


/* Home page */

.body-content{
    padding-top: 106px;
    width: 100vw;
    height: 100%;
    background-color: var(--background);
}

/* Left sidebar menu */
.body-content .sidebar-wrap{
    background-color: var(--background);
    width: 20%;
    height: 100%;
}
.body-content .sidebar-wrap .side-nav, .catalog-sidebar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 20%;
    /* width: 250px; */
    /* height: auto; */
    /* border: 1px solid #000; */
}

.body-content .side-nav ul li{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 25px;
    padding: 20px 0;
    margin-left: 10%;
    transition: transform 0.5s;
    /* background-color: var(--highlight); */
    position: relative;
}

.body-content .side-nav ul li a{
    font-size: 25px;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
}

.body-content .side-nav ul li.active,
.body-content .side-nav ul li::before{
    color: var(--accent);
    border-left: 5px solid var(--accent);
    padding-left:10px;
}


.body-content .side-nav ul li:hover{
    color: var(--accent);
    transform: translateX(5px);
    /* background-color: var(--secondary); */
}

.body-content .side-nav ul li span{
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
}

.body-content .side-nav ul li span:hover{
    color: var(--accent);
}

/* Catalog Sidebar */

.body-content .catalog-sidebar{
    position: fixed;
}

.body-content .catalog-sidebar ul h2{
    cursor: pointer;
    transition: transform 0.5s ease;
    font-size: 18px;
    margin-top: 20px; /*Set some space between the main category of sidebar*/
}

/* Add styles for the arrow icon */
.body-content .catalog-sidebar ul h2 .arrow-icon {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block; /* Ensure it's block-level for transformation */
    transition: transform 0.3s ease; /* Add a transition for smooth rotation */
}

.open-icon {
    transform: rotate(180deg);
}

.body-content .catalog-sidebar ul li{
    margin: 15px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.body-content .catalog-sidebar ul li a span {
    font-size: 14px;
    position: relative; /* Ensure relative positioning for absolute pseudo-element */
}

.body-content .catalog-sidebar ul li a span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the distance from text for the underline */
    width: 0; /* Start with no width for the underline */
    height: 2px; /* Thickness of the underline */
    background-color: var(--primary); /* Color of the underline */
    transition: width 0.5s ease; /* Smooth transition for width change */
}

.body-content .catalog-sidebar ul li a span:hover::after {
    width: 100%; /* Expand the width to 100% on hover */
}


.body-content .catalog-sidebar ul li:hover{
    transform: translateX(5px);
}
.body-content .catalog-sidebar ul .sidebar-menu{
    /* position: absolute; */
    width: 100%;
    max-height: 450px;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.body-content .catalog-sidebar ul .sidebar-menu.open-menu {
    max-height: 0; /* Adjust the max-height as needed */
}


/* Right content */

.content{
    position: absolute;
    width: 80%;
    min-height: 100vh; /* Use min-height instead of height */
    right: 0;
    padding: 20px 30px;
    background-color: var(--background);
}

/* Learning Progress */
.content .progress-wrap{
    width: 100%;
    height: auto;
    /* background-color: var(--highlight); */
}

.content .progress-wrap .progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .progress-wrap .view-all{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.content .progress-wrap .view-all a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.content .progress-wrap .view-all a:hover{
    font-weight: 600;
}

.content .progress-wrap .view-all a p{
    margin: 0 10px;
}

.content .progress-wrap .progress .progress-card{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as needed */
    border-radius: 15px;
    margin: 30px 10px;
}

.content .progress-wrap .progress .progress-card .progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid transparent; */
    height:30px;
    /* width: 100%; */
    margin: 5px;
    background-color: var(--highlight);
    border-radius: 100px;
    position: relative;
}

.content .progress-wrap .progress .progress-card .progress-bar .progress-bar-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 0;
    width: 0; /* Start with width 0 for the animation effect */
    height: 100%;
    border-radius: 100px;
    opacity: 0; /* Set opacity to 0 to make the progress bar invisible */
    transition: width 1s ease 0s; /* Add a transition for smooth width changes */
}

.content .progress-wrap .progress .progress-card .progress-bar .progress-bar-animation.animation {
    width: var(--progress-width); /* Set the width based on the data-done attribute */
    background-color: var(--accent);
    opacity: 1;
}



.content .progress-wrap .progress .progress-card .progress-context{
    padding: 10px;
}

.content .progress-wrap .progress .progress-card .progress-context h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content .progress-wrap .progress .progress-card .resume{
    position: absolute;
    bottom: 0;
    padding: 10px;
    /* border: 1px solid; */
    width: 100%;
}

.content .progress-wrap .progress .progress-card .resume a{
    display: flex;
    transition: transform .5s ease 0s;
}

.content .progress-wrap .progress .progress-card .resume a p{
    margin-left: 140px;
    margin-right: 10px;
}


.content .progress-wrap .progress .progress-card .resume a:hover{
    transform: translateX(5px);
}

/* Catalog's course Sidebar */
.sidebar-wrap{
    background-color: var(--background);
    position: fixed;
}

.sidebar-wrap .html-sidebar{
    padding: 20px;
}
.sidebar-wrap .html-sidebar .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--line);
}
.sidebar-wrap .html-sidebar .header img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.sidebar-wrap .html-sidebar .middle ul li{
    border-bottom: 1px solid var(--line);
    padding: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.sidebar-wrap .html-sidebar .middle ul li.active,
.sidebar-wrap .html-sidebar .middle ul li::before{
    color: var(--accent);
    border-left: 5px solid var(--accent);
    padding-left:10px;
    background-color: var(--highlight);
}

.sidebar-wrap .html-sidebar .middle ul li:hover{
    transform: translateX(5px);
    background-color: var(--highlight);
}

.sidebar-wrap .html-sidebar .middle ul li h4{
    color: var(--text-highlight);
}

/* Catalog's course content */

.course-wrap .main{
    position: relative;
}

.course-wrap .main .course-content .back{
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.course-wrap .main .course-content .main .course-navbar{
    width: 100%;
    height: auto;
}
.course-wrap .main .course-content .main .course-navbar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--text-highlight);
}
.course-wrap .main .course-content .main .course-navbar ul li{
    margin-right: 10px;
    padding: 10px;
}
.course-wrap .main .course-content .main .course-navbar ul li.active{
    border-bottom: 3px solid var(--accent);
}

.course-wrap .main .course-content .main .course-navbar ul li:hover{
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    background-color: var(--secondary);
}

.course-wrap .main .course-content .main .course-content{
    margin: 20px 0;
}

.course-wrap .main .course-content .main .main-desc,
.course-wrap .main .course-content .main .main-learning-material{
    border: 1px solid var(--text);
    padding: 10px;
}
.course-wrap .main .course-content .main .main-desc p,
.course-wrap .main .course-content .main .main-learning-material p{
    margin-bottom: 5px;
}
.course-wrap .main .course-content .main .main-desc .material,
.course-wrap .main .course-content .main .main-learning-material{
    width: 100%;
    height: auto;
}
.course-wrap .main .course-content .main .main-desc .material a span,
.course-wrap .main .course-content .main .main-learning-material ul li a span{
    position: relative;
    font-weight: 550;
    margin-left: 10px;
}
.course-wrap .main .course-content .main .main-desc .material a span::after,
.course-wrap .main .course-content .main .main-learning-material ul li a span::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    font-weight: 0;
    background-color: var(--accent);
    transition: width 0.5s ease;
}
.course-wrap .main .course-content .main .main-desc .material a span:hover::after,
.course-wrap .main .course-content .main .main-learning-material ul li a span:hover::after{
    width: 100%;
}
.course-wrap .main .course-content .main .main-learning-material ul li{
    margin-bottom: 5px;
}

/* Course Doc */

.nav-option{
    position: relative;
    padding: 10px;
}
.nav-option ul li{
    margin: 5px 0;
    /* padding-left: 15px; */
}
.nav-option .intro {
    padding-left: 0;
}

.nav-option .sub-nav {
    padding-left: 20px; /* Adjust as needed for the desired space */
}
.nav-option ul li a{
    position: relative;
    font-weight: 400;
    /* transition: transform .5s ease; */
}
.nav-option ul li a:hover {
    font-weight: 500; /* Directly change font weight on hover */
}
.nav-option ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: var(--accent);
    transition: width .5s ease, font-weight .5s ease;
}
.nav-option ul li a:hover::after{
    width: 100%;
}
/* Learning Material Content */
.main-material{
    position: relative;
    margin: 10px 0;
}

.main-material .video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-top: 1px solid var(--highlight);
    border-bottom: 1px solid var(--highlight);
}
iframe{
    margin: 10px 0;
    border-radius: 5px;
}

/* Docs content */
a code{
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;;
}

a code:hover{
    text-decoration: underline;
}

tt, code, kbd, samp{
    font-family: monospace;
    /* color: #fa9e52; */
    color: var(--accent);
    border: 1px solid transparent;
    background-color: #e8e7e6;
    border-radius: 5px;
    padding: 2px;
}
.course-doc p,
.main-material p,
.doc-content p{
    margin: 10px 0;
}

pre code{
    color: #000;
}

.course-doc pre .language-html {
    /* background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px; */
    width: 100%;
    font-family: monospace;
    color: #000;
}
.course-doc .code-line {
    margin-bottom: 16px;
}
/* .course-doc code {
    font-family: 'SF Mono', Monaco, Consolas, 'Ubuntu Mono', monospace;
    color: #D6D6D6;
    background-color: #333;
    padding: 0px;
    border-radius: 4px;
    font-size: 1em;
    line-height: 1.357em;
    display: inline-block;
    tab-size: 4;
} */
.course-doc h1, .course-doc h2, .course-doc h3, .course-doc h4,
.doc-content h1, .doc-content h2, .doc-content h3, .doc-content h4,
.video-desc h1, .video-desc h2, .video-desc h3, .video-desc h4 {
    /* border-bottom: 1px solid var(--highlight); */
    font-weight: 600;
    /* margin-bottom: 16px; */
    line-height: 1.25;
    margin: 10px 0;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.18); */
}

.course-doc hr,
.main-material hr,
.doc-content hr  {
    border-width: 0px 0px 1px;
    /* width: 100%; */
    height: 1px;
    border-bottom-style: solid;
    color: var(--highlight);
    margin: 10px 0;
}

.course-doc ul,
.main-material ul  {
    margin-bottom: 0.7em;
}

.course-doc li ,
.main-material li{
    list-style: circle;
    margin-left: 50px;
}

.course-doc a,
.main-material a {
    color: #8ABEB7;
}

.course-doc a:hover,
.main-material a:hover {
    color: #65A59A;
}

.course-doc table,
.main-material table {
    border-collapse: collapse;
    margin-bottom: 0.7em;
}

.course-doc th, .course-doc td,
.main-material th, .main-material td {
    padding: 5px 10px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.18);
}

.course-doc th,
.main-material th {
    border-bottom: 1px solid var(--accent);
}

.course-doc td,
.main-,.material td {
    border-top: 1px solid var(--highlight);
    border-bottom: 1px solid var(--highlight);
}

pre {
    background-color: #e8e7e6;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 3px;
    overflow: auto;
    white-space: pre-wrap;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
}
pre span {
    display: inline;
    font-family: monospace;
}

/* Catelog Content */
.catalog-wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.catalog-wrap .main {
    margin: 10px 0;
}

.catalog-wrap .main .course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Center cards horizontally */
    gap: 20px; /* Add space between cards */
    margin: 20px 0;
}

.catalog-wrap .main .course-card {
    flex: 1 0 calc(20% - 40px); /* Adjust card width to occupy 20% of the container width minus margins and gaps */
    max-width: 200px; /* Limit maximum width of cards */
    height: 310px; /* Allow the card height to expand based on content */
    cursor: pointer;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 20px;
    display: flex; /* Enable flexbox for the card */
    flex-direction: column; /* Set flex direction to column */
    transition: transform 0.5s ease;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.catalog-wrap .main .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.catalog-wrap .main .course-card .head-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--line);
}

.catalog-wrap .main .course-card .head-card svg,
.catalog-wrap .main .course-card .head-card img {
    width: 50px;
    height: 50px;
}

.catalog-wrap .main .course-card .middle-card {
    flex-grow: 1; /* Allow middle part to grow and occupy remaining space */
    padding: 5px;
}

.catalog-wrap .main .course-card .middle-card h4,
.catalog-wrap .main .course-card .footer-card h5 {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-wrap .main .course-card .middle-card p {
    margin: 10px 0;
    font-size: 12px;
}

.catalog-wrap .main .course-card .footer-card {
    padding: 10px; /* Add padding to the footer */
    font-size: 14px;
    border-top: 1px solid var(--line);
    margin-top: auto; /* Push footer to the bottom */
}

.catalog-wrap .main .course-card .footer-card h5 {
    display: inline-block; /* Ensure inline block for accurate width calculation */
    margin: 0; /* Remove any default margin */
    position: relative;
}

.catalog-wrap .main .course-card .footer-card h5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the distance from text for the underline */
    width: 0; /* Start with no width for the underline */
    height: 2px; /* Thickness of the underline */
    background-color: var(--primary); /* Color of the underline */
    transition: width 0.5s ease; /* Smooth transition for width change */
}

.catalog-wrap .main .course-card .footer-card h5:hover::after {
    width: 100%;
}

/*  Subscription card */
.pricing-content{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    right: 0;
    padding: 20px 30px;
    background-color: var(--background);
}
.subscription-wrap .sub-header{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-wrap .sub-card{
    /* border: 1px solid; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-wrap .sub-card .card,
.subscription-wrap .sub-card .pro-card{
    height: auto;
    padding: 10px;
    border: 1px solid;
    width: 220px;
    border-radius: 20px;
    margin: 25px;
}
.card-header{
    border-bottom: 1px solid var(--highlight);
    padding: 10px;
}
.card-header .price,
.card-header .real-price{
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding: 10px 0; */
}

.card-header .real-price s{
    display: flex;
    text-decoration:line-through;
    color: var(--highlight);
    font-size: 16px;
} 
.header-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.header-title img{
    width: 25px;
    height: 25px;
}
.card-header p{
    font-size: 12px;
    color: var(--highlight);
}
.card-middle{
    padding: 20px 0;;

}
.card-middle ul li{
    margin: 10px 0;
    font-size: 14px;
}
.card-footer{
    border-top: 1px solid var(--highlight);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-footer a{
    border: 1px solid var(--accent);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}
.card-footer a:hover{
    background-color: var(--accent);
    border: 1px solid;
    color: var(--background);
}

/* Admin Page */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.wrapper .login-wrapper {
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    width: 800px;
    height: 300px;
    /* flex-grow: 1; */
}

.wrapper .login-wrapper .img {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    border-radius: 15px 0 0 15px; /* Rounded corners on the left side only */
}

.wrapper .login-wrapper .login-form {
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 10px 10px;
    width: 50%;
    padding: 30px;
    /* background-color: var(--accent); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .login-wrapper .login-form h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.wrapper .login-wrapper .login-form form {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .login-wrapper .login-form form input {
    margin: 10px 0; /* Reset default margins */
    padding: 8px; /* Add padding for input fields */
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

/* Additional styling for inputs, buttons, etc. */
.wrapper .login-wrapper .login-form form input[type="submit"] {
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}
